body {
  margin: 0;
  background: #f9fafb;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 8px;
  width: 250px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  background-color: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1d4ed8;
}

a {
  color: #2563eb;
  text-decoration: underline;
}
